main{
    padding-top: 200px;
    width: 100%;
}

.search{
    padding-top: 100px;
    height: 200px;
    background-color: #7d70f7;
}

.search input{
    width: 50%;
    margin: 0;
    color:black;
}